# Настройка модели для векторизации материалов 
MODEL_NAME=paraphrase-multilingual-MiniLM-L12-v2

# Настройка БД
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=
DB_NAME=

# Настройка сервера ИИ
PORT=8002
HOST=localhost

# Настройка адреса парсер сервера
PARSER_URL=http://localhost:8001