# Настройка БД
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=
DB_NAME=

# Настройка парсер сервера
PORT=8002
HOST=localhost

# Настройка адресов для парсинга
BASE_URL=http://e.biblio.bru.by/
FACULTIES_LINK = /handle/1212121212/10

# Настройка api сервера ИИ для переиндексации материалов
AI_SERVER_URL_REINDEX=http://localhost:8002/api/ai/reindex

# Настройка путей для файлов с данными о дисциплинах и специальностях
DISCIPLINES_EXCEL_PATH=data/disciplines.xlsx
SPECIALTY_EXCEL_FILE=data/specialties.xlsx
